app/
components/
.next/
.github/
.vscode/
*.log
*.test.*
tsconfig.json
tsconfig.build.dts.json
rollup.config.js
tsconfig.tsconfig
next-env.d.ts
.eslintrc.json
.babelrc
postcss.config.mjs
tailwind.config.ts